In [1]:
# -*- coding: utf_8 -*-  
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
## 本来、市町村コードは５桁の文字列だが、開発工数の都合上、すべてintとしてあつかう -> 先頭の0が消えている場合あり

In [3]:
industry_ratio = pd.read_csv('data/industry-power_20160129/01_トップ画面/稼ぐ力分析_トップ画面_市区町村_業種中分類.csv', encoding='sjis')

In [4]:
city_codes = industry_ratio['市区町村コード'].unique()

In [5]:
all_pd = pd.DataFrame(data=np.ones((len(city_codes),1)), index=city_codes, columns=['bias'])
all_pd = all_pd.sort_index()

In [6]:
all_pd[:3]

      bias
1100   1.0
1202   1.0
1203   1.0

In [7]:
industry_abs = pd.read_csv('data/industry-power_20160129/02_グラフ分析/稼ぐ力分析_グラフ分析_市区町村_業種中分類.csv', encoding='sjis')
industry_abs = industry_abs[industry_abs['集計年']==2012]
industry_abs.index = industry_abs['市区町村コード']
industry_abs = industry_abs.sort_index()
industry_abs[-3:]

,集計年,都道府県コード,都道府県名,市区町村コード,市区町村名,産業大分類コード,産業大分類名,業種中分類コード,業種中分類名,付加価値額（企業単位）,従業者数（事業所単位）,従業者数（企業単位）
市区町村コード,,,,,,,,,,,,
47382,2012,47,沖縄県,47382,与那国町,E,製造業,17,石油製品・石炭製品製造業,×,14,14
47382,2012,47,沖縄県,47382,与那国町,J,金融業，保険業,63,協同組織金融業,NaN,0,0
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,95,その他のサービス業,NaN,0,0

In [8]:
ind_cd = industry_abs['業種中分類コード'].unique()
focus_column = ['付加価値額（企業単位）', '従業者数（事業所単位）', '従業者数（企業単位）']
for i in ind_cd:
    for f in focus_column:
        tmp_list = []
        values = industry_abs[industry_abs['業種中分類コード']==i][f].values
        for v in values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        all_pd[str(i)+'_'+str(f)] = tmp_list

In [9]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,38_従業者数（企業単位）,44_付加価値額（企業単位）,44_従業者数（事業所単位）,44_従業者数（企業単位）,16_付加価値額（企業単位）,16_従業者数（事業所単位）,16_従業者数（企業単位）,81_付加価値額（企業単位）,81_従業者数（事業所単位）,81_従業者数（企業単位）
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,0,NaN,21,21,NaN,0,0,NaN,0,0
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,0,NaN,39,39,NaN,0,0,NaN,15,0
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,0,NaN,2,2,NaN,9,9,NaN,0,0

In [10]:
industry_diff = pd.read_csv('data/municipality-company_20160720/02_増減率データ/【増減率】企業数_市区町村_業種中分類.csv', encoding='sjis')
industry_diff.index = industry_diff['市区町村CD']
industry_diff2012 = industry_diff[industry_diff['集計年']==2012]
industry_diff2012 = industry_diff2012.sort_index()
industry_diff2012[-3:]

,集計年,都道府県CD,都道府県名,市区町村CD,市区町村名,産業大分類CD,産業大分類名,業種中分類CD,業種中分類名,企業数_増減率
市区町村CD,,,,,,,,,,
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,93,政治・経済・文化団体,-
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,94,宗教,-1
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,95,その他のサービス業,-

In [11]:
# コピペベース　共通化する理由が弱い（フォーマット本当に揃っているのかわからないので）
ind_cd = industry_diff2012['業種中分類CD'].unique()
focus_column = ['企業数_増減率']
for i in ind_cd:
    for f in focus_column:
        tmp_list = []
        values = industry_diff2012[industry_diff2012['業種中分類CD']==i][f].values
        for v in values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        all_pd[str(i)+'_'+str(f)] = tmp_list

In [12]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,86_企業数_増減率,87_企業数_増減率,88_企業数_増減率,89_企業数_増減率,90_企業数_増減率,91_企業数_増減率,92_企業数_増減率,93_企業数_増減率,94_企業数_増減率,95_企業数_増減率
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
industry_abs_diff_hr = pd.read_csv('data/municipality-employee_20160720/02_増減率データ/【増減率】従業者数（事業所単位）_市区町村_業種中分類.csv', encoding='sjis')
industry_abs_diff_hr2012 = industry_abs_diff_hr[industry_abs_diff_hr['集計年']==2012]
industry_abs_diff_hr2012.index = industry_abs_diff_hr2012['市区町村CD']
industry_abs_diff_hr2012 = industry_abs_diff_hr2012.sort_index()
industry_abs_diff_hr2012[-3:]

,集計年,都道府県CD,都道府県名,市区町村CD,市区町村名,産業大分類CD,産業大分類名,業種中分類CD,業種中分類名,事業所単位_従業者数（人）_増減率
市区町村CD,,,,,,,,,,
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,93,政治・経済・文化団体,-0.3
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,94,宗教,-0.5
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,95,その他のサービス業,-

In [14]:
# コピペベース　共通化する理由が弱い（フォーマット本当に揃っているのかわからないので）
pd_data = industry_abs_diff_hr2012
cd = '業種中分類CD'
ind_cd = pd_data[cd].unique()
focus_column = ['事業所単位_従業者数（人）_増減率']
for i in ind_cd:
    for f in focus_column:
        tmp_list = []
        values = pd_data[pd_data[cd]==i][f].values
        for v in values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        all_pd[str(i)+'_'+str(f)] = tmp_list

In [15]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,86_事業所単位_従業者数（人）_増減率,87_事業所単位_従業者数（人）_増減率,88_事業所単位_従業者数（人）_増減率,89_事業所単位_従業者数（人）_増減率,90_事業所単位_従業者数（人）_増減率,91_事業所単位_従業者数（人）_増減率,92_事業所単位_従業者数（人）_増減率,93_事業所単位_従業者数（人）_増減率,94_事業所単位_従業者数（人）_増減率,95_事業所単位_従業者数（人）_増減率
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# ここは共通化できる気がしてきた　要リファクタリング
labor = pd.read_csv('data/municipality-labor_20160224/労働生産性_市区町村_業種中分類.csv', encoding='sjis')
labor2012 = labor[labor['集計年']==2012]
labor2012.index = labor2012['市区町村コード']
labor2012 = labor2012.sort_index()
labor2012[-3:]

,集計年,都道府県コード,都道府県名,市区町村コード,市区町村名,産業大分類コード,産業大分類名,業種中分類コード,業種中分類名,労働生産性（千円/人）
市区町村コード,,,,,,,,,,
47382,2012,47,沖縄県,47382,与那国町,E,製造業,17,石油製品・石炭製品製造業,×
47382,2012,47,沖縄県,47382,与那国町,J,金融業，保険業,63,協同組織金融業,×
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,95,その他のサービス業,×

In [17]:
# コピペベース　共通化する理由が弱い（フォーマット本当に揃っているのかわからないので）
pd_data = labor2012
cd = '業種中分類コード'
ind_cd = pd_data[cd].unique()
focus_column = ['労働生産性（千円/人）']
for i in ind_cd:
    for f in focus_column:
        tmp_list = []
        values = pd_data[pd_data[cd]==i][f].values
        for v in values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        all_pd[str(i)+'_'+str(f)] = tmp_list

In [18]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,68_労働生産性（千円/人）,59_労働生産性（千円/人）,64_労働生産性（千円/人）,24_労働生産性（千円/人）,86_労働生産性（千円/人）,29_労働生産性（千円/人）,38_労働生産性（千円/人）,44_労働生産性（千円/人）,16_労働生産性（千円/人）,81_労働生産性（千円/人）
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#バックアップ
#all_pd.to_csv('tmp.csv')

In [20]:
plant_diff = pd.read_csv('data/municipality-plant_20160720/02_増減率データ/【増減率】事業所数_市区町村_業種中分類.csv', encoding='sjis')
plant_diff2012 = plant_diff[plant_diff['集計年']==2012]
plant_diff2012.index = plant_diff2012['市区町村CD']
plant_diff2012 = plant_diff2012.sort_index()
plant_diff2012[-3:]

,集計年,都道府県CD,都道府県名,市区町村CD,市区町村名,産業大分類CD,産業大分類名,業種中分類CD,業種中分類名,事業所数（事業所）_増減率
市区町村CD,,,,,,,,,,
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,93,政治・経済・文化団体,0
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,94,宗教,-0.5
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,95,その他のサービス業,-

In [21]:
# コピペベース　共通化する理由が弱い（フォーマット本当に揃っているのかわからないので）
pd_data = plant_diff2012
cd = '業種中分類CD'
ind_cd = pd_data[cd].unique()
focus_column = ['事業所数（事業所）_増減率']
for i in ind_cd:
    for f in focus_column:
        tmp_list = []
        values = pd_data[pd_data[cd]==i][f].values
        for v in values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        all_pd[str(i)+'_'+str(f)] = tmp_list

In [22]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,86_事業所数（事業所）_増減率,87_事業所数（事業所）_増減率,88_事業所数（事業所）_増減率,89_事業所数（事業所）_増減率,90_事業所数（事業所）_増減率,91_事業所数（事業所）_増減率,92_事業所数（事業所）_増減率,93_事業所数（事業所）_増減率,94_事業所数（事業所）_増減率,95_事業所数（事業所）_増減率
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
industry_sales = pd.read_csv('data/municipality-surplus_20160129/黒字赤字企業比率_市区町村_業種中分類.csv')
industry_sales2012 = industry_sales[industry_sales['集計年']==2012]
industry_sales2012.index = industry_sales2012['市区町村コード']
industry_sales2012.sort_index()
industry_sales2012[-3:]

# これが一番汎用的　todo こいつベースでリファクタリング
tmp_pd = ''
pd_data = industry_sales2012
cd = '業種中分類コード'
ind_cd = pd_data[cd].unique()
focus_column = ['赤字企業割合', '黒字企業割合']
for i in ind_cd:
    for f in focus_column:
        data = pd_data[pd_data[cd]==i][f]
        tmp_list = []
        for v in data.values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        tmp_tmp_pd = pd.DataFrame(tmp_list, index=data.index, columns=[str(i)+'_'+str(f)])
        if type(tmp_pd) ==str:
            tmp_pd = tmp_tmp_pd
        else:
            tmp_pd = tmp_pd.join(tmp_tmp_pd)
all_pd = all_pd.join(tmp_pd)

In [24]:
industry_val = pd.read_csv('data/municipality-value_20160224/付加価値額_市区町村_業種中分類.csv', encoding='sjis')
d = industry_val[industry_val['集計年']==2012]
d.index = d['市区町村コード']
d = d.sort_index()
industry_val2012 = d
d[-3:]

,集計年,都道府県コード,都道府県名,市区町村コード,市区町村名,産業大分類コード,産業大分類名,業種中分類コード,業種中分類名,付加価値額（百万円）
市区町村コード,,,,,,,,,,
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,93,政治・経済・文化団体,0.0
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,94,宗教,0.0
47382,2012,47,沖縄県,47382,与那国町,R,サービス業（他に分類されないもの）,95,その他のサービス業,0.0

In [25]:
# これが一番汎用的　todo こいつベースでリファクタリング
tmp_pd = ''
pd_data = industry_val2012
cd = '業種中分類コード'
ind_cd = pd_data[cd].unique()
focus_column = ['付加価値額（百万円）']
for i in ind_cd:
    for f in focus_column:
        data = pd_data[pd_data[cd]==i][f]
        tmp_list = []
        for v in data.values: # nan 判定があるので１行で書かない
            if type(v)==str:#todo 他の場合あるのか？
                tmp_list.append(np.nan)
            else:
                tmp_list.append(v)
        tmp_tmp_pd = pd.DataFrame(tmp_list, index=data.index, columns=[str(i)+'_'+str(f)])
        if type(tmp_pd) ==str:
            tmp_pd = tmp_tmp_pd
        else:
            tmp_pd = tmp_pd.join(tmp_tmp_pd)

In [26]:
all_pd = all_pd.join(tmp_pd)

In [27]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,86_付加価値額（百万円）,87_付加価値額（百万円）,88_付加価値額（百万円）,89_付加価値額（百万円）,90_付加価値額（百万円）,91_付加価値額（百万円）,92_付加価値額（百万円）,93_付加価値額（百万円）,94_付加価値額（百万円）,95_付加価値額（百万円）
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,0.0,0.0,4.0,35.0,0.0,0.0,0.0,6.0,0.0,0.0
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,6.0,34.0,0.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
pop = pd.read_csv('data/population-composition_20160129/03_人口ピラミット/人口構成_人口ピラミッド_市区町村.csv', encoding='sjis')
d = pop[pop['集計年']==2015] #2012がないので
d.index = d['市区町村コード']
d = d.sort_index()
pop2012 = d
d[-3:]

focus_column = ['0〜4歳（人）','5〜9歳（人）','10〜14歳（人）','15〜19歳（人）','20〜24歳（人）','25〜29歳（人）','30〜34歳（人）','35〜39歳（人）','40〜44歳（人）','45〜49歳（人）','50〜54歳（人）','55〜59歳（人）','60〜64歳（人）','65〜69歳（人）','70〜74歳（人）','75〜79歳（人）','80〜84歳（人）','85〜89歳（人）','90歳以上（人）']

pop_men = pop2012[pop2012['男女区分']=='男'][focus_column]
pop_women = pop2012[pop2012['男女区分']=='女'][focus_column]

pop_all = pop_men.join(pop_women, rsuffix='_女', lsuffix='_男')
all_pd = all_pd.join(pop_all)

In [29]:
pop = pd.read_csv('data/population-composition_20160129/01_トップ画面（総人口）/人口構成_トップ画面（総人口）_市区町村.csv', encoding='sjis')
d = pop[pop['集計年']==2015]
d.index = d['市区町村コード']
d = d.sort_index()
pop2012 = d
d[-3:]

focus_column = ['総人口（人）']
tmp_pd = pop2012[focus_column]
all_pd = all_pd.join(tmp_pd)

In [30]:
pop = pd.read_csv('data/population-sum_20160129/03_出生率・死亡数_転入数・転出数/出生数・死亡数・転入数・転出数_市区町村.csv', encoding='sjis')
d = pop[pop['集計年']==2012]
d.index = d['市区町村コード']
d = d.sort_index()
pop2012 = d
d[-3:]

,集計年,都道府県コード,都道府県名,市区町村コード,市区町村名,総人口（人）,転入数（人）,転出数（人）,出生数（人）,死亡数（人）
市区町村コード,,,,,,,,,,
47375,2012,47,沖縄県,47375,多良間村,NaN,41.0,87.0,10.0,15.0
47381,2012,47,沖縄県,47381,竹富町,NaN,441.0,469.0,54.0,29.0
47382,2012,47,沖縄県,47382,与那国町,NaN,129.0,150.0,14.0,18.0

In [31]:
focus_column = ['転入数（人）', '転出数（人）', '出生数（人）', '死亡数（人）']
tmp_pd = pop2012[focus_column]
all_pd = all_pd.join(tmp_pd)

In [32]:
tax = pd.read_csv('data/municipality-property-tax_20160720/01_集計データ/一人当たり指標比較_市区町村.csv', encoding='sjis')
tax2012 = tax[tax['集計年度']==2012]
tax2012.index = tax2012['市区町村コード']
tax2012.sort_index()
tax2012[-3:]

focus_column = ['一人当たり地方税（千円）', '一人当たり市町村民税法人分（千円）', '一人当たり固定資産税（千円）']
tax2012 = tax2012[focus_column]

all_pd = all_pd.join(tax2012)

In [33]:
tax_diff = pd.read_csv('data/municipality-property-tax_20160720/02_増減率データ/【増減率】一人当たり指標比較_市区町村.csv', encoding='sjis')
tax_diff2012 = tax_diff[tax_diff['集計年度']==2012]
tax_diff2012.index = tax_diff2012['市区町村コード']
tax_diff2012 = tax_diff2012.sort_index()
tax_diff2012[-3:]

focus_column = ['地方税_増減率', '市町村民税_増減率', '固定資産税_増減率']
tax_diff2012 = tax_diff2012[focus_column]

all_pd = all_pd.join(tax_diff2012)

In [34]:
goverment = pd.read_csv('data/local-government-finance_20161011/自治体比較マップ_自治体財政状況の比較_市区町村.txt', encoding='sjis', sep='\t')
goverment2012 = goverment[goverment['集計年']==2012]
focus_column = goverment2012.columns

all_column = goverment2012.columns[5:]
focus_column = []
for f in all_column:
    if '_全国平均' not in f and '_グループ平均' not in f:
        focus_column.append(f)
goverment2012.index = goverment2012['市区町村コード']
goverment2012 = goverment2012[focus_column]
goverment2012 = goverment2012.sort_index()

# goverment2012 にない自治体は諦める
all_pd = all_pd.join(goverment2012)

# goverment 2012 に含まれる自治体　一応全都道府県ある

In [35]:
focus_column

['財政力指数',
 '経常収支比率',
 '実質公債費比率',
 '将来負担比率',
 '人口千人あたり職員数',
 '人口１人あたり人件費・物件費などの決算額',
 'ラスパイレス指数',
 '財政力指数_グループ最大',
 '経常収支比率_グループ最大',
 '実質公債費比率_グループ最大',
 '将来負担比率_グループ最大',
 '人口千人あたり職員数_グループ最大',
 '人口１人あたり人件費・物件費などの決算額_グループ最大',
 'ラスパイレス指数_グループ最大',
 '財政力指数_グループ最小',
 '経常収支比率_グループ最小',
 '実質公債費比率_グループ最小',
 '将来負担比率_グループ最小',
 '人口千人あたり職員数_グループ最小',
 '人口１人あたり人件費・物件費などの決算額_グループ最小',
 'ラスパイレス指数_グループ最小',
 '財政力指数（全国平均=100）',
 '経常収支比率（全国平均=100）',
 '実質公債費比率（全国平均=100）',
 '将来負担比率（全国平均=100）',
 '人口千人あたり職員数（全国平均=100）',
 '人口１人あたり人件費・物件費などの決算額（全国平均=100）',
 'ラスパイレス指数（全国平均=100）',
 '総務費（％）',
 '民生費（％）',
 '衛生費（％）',
 '労働費（％）',
 '農林水産業費（％）',
 '商工費（％）',
 '土木費（％）',
 '消防費・警察費（％）',
 '教育費（％）',
 '公債費（％）',
 'その他（％）',
 '65歳人口1人あたり老人福祉費（全国平均=100）',
 '15歳未満人口1人あたり児童福祉費（全国平均=100）',
 '15歳未満人口1人あたり教育費（全国平均=100）',
 '15-64歳人口1人あたり商工費（全国平均=100）',
 '15-64歳人口1人あたり農林水産業費（全国平均=100）',
 '15-64歳人口1人あたり労働費（全国平均=100）',
 '総人口あたり衛生費（全国平均=100）',
 '総人口あたり土木費（全国平均=100）']

In [36]:
all_pd[-3:]

,bias,1_付加価値額（企業単位）,1_従業者数（事業所単位）,1_従業者数（企業単位）,34_付加価値額（企業単位）,34_従業者数（事業所単位）,34_従業者数（企業単位）,63_付加価値額（企業単位）,63_従業者数（事業所単位）,63_従業者数（企業単位）,...,公債費（％）,その他（％）,65歳人口1人あたり老人福祉費（全国平均=100）,15歳未満人口1人あたり児童福祉費（全国平均=100）,15歳未満人口1人あたり教育費（全国平均=100）,15-64歳人口1人あたり商工費（全国平均=100）,15-64歳人口1人あたり農林水産業費（全国平均=100）,15-64歳人口1人あたり労働費（全国平均=100）,総人口あたり衛生費（全国平均=100）,総人口あたり土木費（全国平均=100）
47375,1.0,NaN,11,11,NaN,0,0,NaN,0,0,...,0.1224,0.1384,115.8734,103.8957,128.6481,141.2488,1334.1403,0.0000,151.2795,95.3399
47381,1.0,NaN,42,22,NaN,0,0,NaN,4,0,...,0.0728,0.1149,156.3613,79.1441,225.3293,211.3731,784.0849,0.0000,296.0414,162.7600
47382,1.0,NaN,30,30,NaN,0,0,NaN,0,0,...,0.0905,0.1590,202.0742,114.3486,179.1984,145.0062,567.1601,242.0999,168.6819,174.1883

In [37]:
# Excel にやさしいようにsjijsで保存
all_pd.to_csv('city_bigData2012.csv', encoding='sjis')